/* App 1 */

#app1 > div {
    display: inline-block;
    vertical-align: top;
}

#app1chart > svg  {
    width: 800px;
    height: 500px;
}

#app1controls {
    width: 200px;
}

#app1controls label {
    display: block;
}

#app1controls > div {
    margin-bottom: 20px;
}
        
#app1 label.disabled {
    color: #cecece;
}

/* App 2 */
path.region{
    stroke: #cecece;
}
